---
export interface Props {
	title: string
	thumbnail: string
	description: string
	tags: string[]
}

const { title, description, tags, thumbnail } = Astro.props as Props
---

<div class="card">
	<img class="card-img" src={thumbnail} title={title} alt={title} />
	<div class="card-description">
		<h4 class="card-title h1">{title}</h4>
		<p>{description}</p>

		<div class="card-tags">
			{tags.map((t) => <span class="card-tag">{t}</span>)}
		</div>
	</div>
</div>

<style lang="scss" type="text/css">
	@use '../../sass/vars' as *;
	@use '../../sass/abstracts' as *;

	.card {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin-block: 2rem;
		opacity: var(--card-opacity);
		text-decoration: none;
		width: 100%;
		@include transition;

		&-description {
			text-align: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			padding: 2rem 1rem 1rem 1rem;
		}

		&-img {
			border-radius: 10px;
			box-shadow: var(--color-gradient-shadow);
			margin: 0;
			max-width: 250px;
			width: 100%;
			z-index: 2;
			@include transition;
		}
		&-tags {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&-tag {
			border: 1px solid var(--color-accent);
			border-radius: 10px;
			color: var(--color-accent);
			padding: 0.25rem 0.7rem;
			margin: 0.5rem;
		}

		&-title {
			text-align: center;
			color: var(--color-accent);
			@include transition;
		}

		/// === EFFECTS === ///

		&:focus,
		&:active,
		&:hover {
			.card {
				&-description {
					color: var(--color-font-bold);
				}

				&-img {
					transform: scale(1.02);
				}

				&-title {
					color: var(--color-font-bold);
				}
			}
		}

		/// === CHANGES === ///

		@include bk('md-up') {
			display: grid;
			grid-template-columns: 40% 60%;
			border: 0;

			&-description {
				align-items: flex-start;
				padding: 1rem;
				text-align: left;
			}

			&-img {
				&:hover {
					box-shadow: var(--color-gradient-shadow);
				}
			}

			&-title {
				text-align: left;
			}
		}
	}
</style>
